<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Chechout Book">
   
  <test  name="Checkout Book Test ">
 
    <classes>
      <class name="testcases.LoginTest">
      	<methods>
      			<include name="loginTest" />
      			     			
      	</methods>
      </class>
     	
     
    </classes>
  </test> <!-- Test -->
   <test  name="Sample Test ">
 
    <classes>
      <class name="testcases.SampleTest">
      	
      </class>
     	
     
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
